<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanlai.wpnos.ylcmsb.dao.StoreDao" >
  <resultMap id="BaseResultMap" type="com.yuanlai.wpnos.ylcmsb.entity.Store" >
    <id column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
    <result column="store_image" property="storeImage" jdbcType="VARCHAR" />
    <result column="cuisine_name" property="cuisineName" jdbcType="VARCHAR" />
    <result column="moblie_no" property="moblieNo" jdbcType="VARCHAR" />
    <result column="per_capita_price" property="perCapitaPrice" jdbcType="VARCHAR" />
    <result column="service_info" property="serviceInfo" jdbcType="VARCHAR" />
    <result column="special_service" property="specialService" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="business_hours" property="businessHours" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="store_status" property="storeStatus" jdbcType="VARCHAR"/>
    
  </resultMap>

  <sql id="Base_Column_List" >
    store_id, store_name, branch_name, store_address, store_image, cuisine_name, moblie_no, 
    per_capita_price, service_info, special_service, recommend, introduction, business_hours, 
    create_time, modify_time,store_status
  </sql>

  <select id="listStore" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from catering_store
    <where>

      <if test="storeId !=null and storeId !=''">
        store_id = #{storeId,jdbcType=VARCHAR}
      </if>
      <if test="storeName !=null and storeName !=''">
        AND store_name LIKE CONCAT('%',#{storeName,jdbcType=VARCHAR},'%')
      </if>
      <if test="branchName !=null and branchName !=''">
        AND branch_name LIKE CONCAT('%',#{branchName,jdbcType=VARCHAR},'%')
      </if>
        <if test="treeCode !=null and treeCode !=''">
            AND tree_code LIKE CONCAT('%',#{treeCode,jdbcType=VARCHAR},'%')
        </if>
    </where>
  </select>

  <select id="dictStore" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
      store_id,store_name
    from catering_store
    <where>
      <if test="merchantId !=null and merchantId !=''">
        AND merchant_id = #{merchantId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="countStore" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*)
    from catering_store
    <where>

      <if test="storeId !=null and sotreId !=''">
        store_id = #{storeId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="delectStore" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 28 15:04:08 CST 2017.
    -->
    delete from catering_store
    where store_id = #{storeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertStore" parameterType="java.util.Map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 28 15:04:08 CST 2017.
    -->
    insert into catering_store (store_id, store_name, branch_name,
      store_address, store_image, cuisine_name, 
      moblie_no, per_capita_price, service_info, 
      special_service, recommend, introduction, 
      business_hours, create_time, modify_time,
      tree_code
      )
    values (#{storeId,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, 
      #{storeAddress,jdbcType=VARCHAR}, #{storeImage,jdbcType=VARCHAR}, #{cuisineName,jdbcType=VARCHAR}, 
      #{moblieNo,jdbcType=VARCHAR}, #{perCapitaPrice,jdbcType=VARCHAR}, #{serviceInfo,jdbcType=VARCHAR}, 
      #{specialService,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{businessHours,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR},
      #{treeCode,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.yuanlai.wpnos.ylcmsb.entity.Store" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 28 15:04:08 CST 2017.
    -->
    insert into catering_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="storeAddress != null" >
        store_address,
      </if>
      <if test="storeImage != null" >
        store_image,
      </if>
      <if test="cuisineName != null" >
        cuisine_name,
      </if>
      <if test="moblieNo != null" >
        moblie_no,
      </if>
      <if test="perCapitaPrice != null" >
        per_capita_price,
      </if>
      <if test="serviceInfo != null" >
        service_info,
      </if>
      <if test="specialService != null" >
        special_service,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="businessHours != null" >
        business_hours,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeImage != null" >
        #{storeImage,jdbcType=VARCHAR},
      </if>
      <if test="cuisineName != null" >
        #{cuisineName,jdbcType=VARCHAR},
      </if>
      <if test="moblieNo != null" >
        #{moblieNo,jdbcType=VARCHAR},
      </if>
      <if test="perCapitaPrice != null" >
        #{perCapitaPrice,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null" >
        #{serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="specialService != null" >
        #{specialService,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null" >
        #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuanlai.wpnos.ylcmsb.entity.Store" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 28 15:04:08 CST 2017.
    -->
    update catering_store
    <set >
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null" >
        store_address = #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storeImage != null" >
        store_image = #{storeImage,jdbcType=VARCHAR},
      </if>
      <if test="cuisineName != null" >
        cuisine_name = #{cuisineName,jdbcType=VARCHAR},
      </if>
      <if test="moblieNo != null" >
        moblie_no = #{moblieNo,jdbcType=VARCHAR},
      </if>
      <if test="perCapitaPrice != null" >
        per_capita_price = #{perCapitaPrice,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null" >
        service_info = #{serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="specialService != null" >
        special_service = #{specialService,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null" >
        business_hours = #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=VARCHAR}
  </update>
  <update id="updateStore" parameterType="com.yuanlai.wpnos.ylcmsb.entity.Store" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 28 15:04:08 CST 2017.
    -->
    update catering_store
    set store_name = #{storeName,jdbcType=VARCHAR},
      branch_name = #{branchName,jdbcType=VARCHAR},
      store_address = #{storeAddress,jdbcType=VARCHAR},
      store_image = #{storeImage,jdbcType=VARCHAR},
      cuisine_name = #{cuisineName,jdbcType=VARCHAR},
      moblie_no = #{moblieNo,jdbcType=VARCHAR},
      per_capita_price = #{perCapitaPrice,jdbcType=VARCHAR},
      service_info = #{serviceInfo,jdbcType=VARCHAR},
      special_service = #{specialService,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      business_hours = #{businessHours,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR}
    where store_id = #{storeId,jdbcType=VARCHAR}
  </update>
  <select id="queryStoreById" parameterType="java.lang.String" resultMap="BaseResultMap">
	SELECT store_id storeId,
	store_name storeName,
	branch_name branchName,
	store_address storeAddress,
	cuisine_name cuisineName,
	moblie_no moblieNo,
	store_image  storeImage,
	per_capita_price perCapitaPrice,
	service_info serviceInfo,
	special_service specialService,
	recommend recommend,
	introduction introduction,
	business_hours businessHours
	FROM catering_store
	WHERE store_id=#{storeId}
  </select>
  <update id="updateStoreStatus" parameterType="java.util.HashMap">
  UPDATE catering_store
		<set>
			<if test="storeStatus!= null and storeStatus!= ''">
				store_status = #{storeStatus},
			</if>
		</set>
		WHERE store_id =#{storeId}
  
  </update>
</mapper>